<template name="page">
  {{#if showCreateDialog}}
    {{> createDialog}}
  {{/if}}

  {{#if showInviteDialog}}
    {{> inviteDialog}}
  {{/if}}
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class='brand' href='/'>Hacktogether</a>
        <div class="nav pull-left">
          <ul class="nav pull-right">
            <li><a href="#infoModal" data-toggle="modal">About</a></li>
          </ul>
        </div>
        <div class="nav pull-right">
          {{> loginButtons}}
        </div>
      </div>
    </div>
  </div>
  <div id="infoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="infoModal" aria-hidden="true">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
       <h3 id="infoModal">What's this all about?</h3>
   </div>
   <div class="modal-body">
       <p>As has been <strong>successfully</strong> demonstrated by this hackathon, developers, designers and all kinds of smart people like to get together and work on cool things.  Unfortunately, we don't get anywhere near enough opportunities to do so, and not in a social setting.</p>
       <p>So we decided that enough is enough. There are sites for crashing on couches, sites for renting rooms, and sites for find a random person to eat with.  Well what if you could find a random person to hack with? </p>
       <p> That's what HackTogether is all about.  It's about taking the "big event" aspect away from hackathons, and allowing anyone, anywhere to have a small, personal little coding event, with some food, wine and less that enterprise-grade Wi-Fi.</p>
       <p> It's just a rough prototype for now, with many kinks and bugs.  But we hope you enjoy using it and growing a small and close-knit community of interesting people while Hacking Together! </p>

   </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        {{> details}}
        {{#if currentUser}}
        <div class="pagination-centered">
          <em><small>Double click the map to post a party!</small></em>
        </div>
        {{/if}}
      </div>
      <div class="span8">
          {{> map}}
      </div>
    </div>
  </div>

  <div id="footer">

          <div class="row-fluid">
            <div class="span2">
                <img class="img-circle" src="img/mak.png"/>
                <h4>Maksim Pecherskiy</h4>
            </div>
            <div class="span2">
                <img class="img-circle" src="img/ima.png" alt="">
                <h4>Imanol Aranzadi</h4>
            </div>
            <div class="span2">
                <img class="img-circle" src="img/stef.png" alt="">
                <h4>Stephanie Kruger</h4>
            </div>
            <div class="span3">
              <h3>I Believe in this</h3>
              <p>ahah ahaha haha ah Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nisi, omnis cum nulla soluta ullam fuga dolorem vero molestiae accusamus illo fugiat sunt necessitatibus eligendi!</p>
            </div>
            <div class="span3">
              <h3>Three little birds!</h3>
              <p>ahah ahaha haha ah Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nisi, omnis cum nulla soluta ullam fuga dolorem vero molestiae accusamus illo fugiat sunt necessitatibus eligendi!</p>
            </div>
          </div>

          <div class="row-fluid">
            <div id="orgInfo" class="span12">
              hacktogether.org
            </div>
          </div>

    </div>
</template>
