<template name="page">
  {{#if showCreateDialog}}
    {{> createDialog}}
  {{/if}}

  {{#if showInviteDialog}}
    {{> inviteDialog}}
  {{/if}}
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class='brand' href='/'>Hacktogether</a>
        <div class="nav pull-right">
          {{> loginButtons}}
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4">
        {{> details}}
        {{#if currentUser}}
        <div class="pagination-centered">
          <em><small>Double click the map to post a party!</small></em>
        </div>
        {{/if}}
      </div>
      <div class="span8">
          {{> map}}
      </div>
    </div>
  </div>

  <div id="footer">
      
          <div class="row-fluid">
            <div class="span2">
                <img class="img-circle" src="img/mak.png"/>
                <h4>Maksim Pecherskiy</h4>
            </div>
            <div class="span2">
                <img class="img-circle" src="img/ima.png" alt="">
                <h4>Imanol Aranzadi</h4>
            </div>
            <div class="span2">
                <img class="img-circle" src="img/stef.png" alt="">
                <h4>Stephanie Kruger</h4>
            </div>
            <div class="span3">
              <h3>I Believe in this</h3>
              <p>ahah ahaha haha ah Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nisi, omnis cum nulla soluta ullam fuga dolorem vero molestiae accusamus illo fugiat sunt necessitatibus eligendi!</p>
            </div>
            <div class="span3">
              <h3>Three little birds!</h3>
              <p>ahah ahaha haha ah Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, nisi, omnis cum nulla soluta ullam fuga dolorem vero molestiae accusamus illo fugiat sunt necessitatibus eligendi!</p>
            </div>
          </div>
        
          <div class="row-fluid">
            <div id="orgInfo" class="span12">
              hacktogether.org
            </div>
          </div>
      
    </div>
</template>
